{% extends "core/base.html" %}
{% load static %}

{% block title %}Sobre a Organização | ONG ALMEM{% endblock %}

{% block content %}
<div class="sessao_conteudo">
    <h2>SOBRE A ORGANIZAÇÃO</h2>
    <p>
        Estamos localizados em Garulhos, na zona Norte de São Paulo e <br>
        lutamos por uma moradia digna para todos através da participação em políticas públicas.<br>
        Além disso, oferecemos apoio em relação a outras necessidades que os beneficiados têm,<br>
         como alimentação, educação, questões de violência doméstica, entre outros.
    </p>

    <a href="{% url 'index' %}">← Voltar para a página inicial</a>
</div>
{% endblock %}
