{% extends "core/base.html" %}
{% block title %}Lista de Apoios | ONG ALMEM{% endblock %}
{% block content %}
<h2>Lista de Apoios</h2>

<table class="custom-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Mensagem</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for apoio in apoios %}
        <tr>
            <td>{{ apoio.nome }}</td>
            <td>{{ apoio.email }}</td>
            <td>{{ apoio.mensagem }}</td>
            <td>
                <a href="{% url 'editar_apoio' apoio.pk %}">Editar</a> |
                <a href="{% url 'excluir_apoio' apoio.pk %}">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="4">Nenhum apoio registrado.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
