{% extends "core/base.html" %}
{% block title %}Lista de Voluntários | ONG ALMEM{% endblock %}
{% block content %}
<h2>Lista de Voluntários</h2>

<table class="custom-table">
    <thead>
         <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for v in voluntariados %}
        <tr>
            <td>{{ v.nome }}</td>
            <td>{{ v.email }}</td>
            <td>{{ v.telefone }}</td>
            <td>
                <a href="{% url 'editar_voluntariado' v.pk %}">Editar</a> |
                <a href="{% url 'excluir_voluntariado' v.pk %}">Excluir</a>
            </td>
        </tr>
        {% empty %}
            <tr><td colspan="4">Nenhum voluntário encontrado.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
